@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 
  
    .scroll-padding {
      scroll-padding-top: 150px;
    }
  
    body {
      @apply h-full bg-white text-slate-500 antialiased dark:bg-gray-950 dark:text-slate-400;
    }
  
    svg {
      @apply max-w-full;
    }
  
    .svg-h-full svg {
      @apply h-full;
    }
  
    svg path {
      fill: currentColor;
    }
  
    /* code {
      @apply rounded bg-gray-200 py-0.5 px-1 text-sm dark:bg-gray-800;
    } */
  
    .prose code.hljs {
      @apply bg-transparent;
    }
  
    .prose a code {
      @apply dark:text-violet-400 !important;
    }
  
    .prose pre {
      @apply mt-0   rounded-t-none rounded-b ;
    }
    .prose > .remark-code-title {
      @apply rounded-t bg-gray-700 px-5 py-3 font-mono text-sm font-bold text-gray-200 dark:bg-gray-800;
     
    }
    @media (min-width: 1024px) {
      .docs.prose pre {
        @apply mt-0 rounded-t-none rounded-b; 
        max-width: calc(100vw - 520px);
      }
      .blog.prose pre {
        @apply mt-0 rounded-t-none rounded-b; 
        max-width: calc(100vw - 352px);
      }

      .blog.prose > .remark-code-title {
        @apply rounded-t bg-gray-700 px-5 py-3 font-mono text-sm font-bold text-gray-200 dark:bg-gray-800;
        max-width: calc(100vw - 352px);
      }
    }
  
    @media (min-width: 1280px) {
      .blog.prose pre {
        @apply mt-0 rounded-t-none rounded-b; 
        max-width: calc(100vw - 672px);
      }
 
      .blog.prose > .remark-code-title {
        @apply rounded-t bg-gray-200 px-5 py-3 font-mono text-sm font-bold text-gray-200 dark:bg-gray-700;
        max-width: calc(100vw - 672px);

      }
    }
  
    @media (min-width: 1440px) {
      .docs.prose pre {
        max-width: calc(100vw - 840px);
      }
    }
  
    @media (min-width: 1536px) {
      .docs.prose pre {
        @apply mt-0 rounded-t-none rounded-b; 
        max-width: 707px;
      }
      .blog.prose pre {
        @apply mt-0 rounded-t-none rounded-b; 
        max-width: 832px;
      }
      .blog.prose > .remark-code-title {
        @apply rounded-t bg-gray-200 px-5 py-3 font-mono text-red-400 text-sm font-bold  dark:text-gray-300  dark:bg-gray-800;
        max-width: 832px;
      }
    }
  
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-560px * 4));
      }
    }
  
    .animate-scroll {
      animation: scroll 50s linear infinite;
    }
  
    .animate-scroll:hover {
      animation-play-state: paused;
    }
  
    reach-portal {
      position: absolute;
      z-index: 100;
    }
  
    .options-table .option-title h2,
    .options-table .option-title h3,
    .options-table .option-title h4 {
      @apply text-slate-900 dark:text-white;
    }
  
    .options-table .option-title p {
      @apply text-sm text-slate-500 dark:text-slate-400;
    }
  
    .hyphens {
      hyphens: auto;
      -webkit-hyphens: auto;
    }
  
    html.dark {
      color-scheme: dark;
    }
  }
  
/* Code block styles */
.code-highlight {
  @apply float-left min-w-full;
}

.code-line {
  @apply -mx-4 block border-l-4 border-transparent pl-4 pr-4;
}

.code-line.inserted {
  @apply bg-green-500 bg-opacity-20;
}

.code-line.deleted {
  @apply bg-red-500 bg-opacity-20;
}

.highlight-line {
  @apply -mx-4 border-l-4 border-primary-500 bg-gray-300 bg-opacity-50 dark:bg-gray-600;
}

.line-number::before {
  @apply -ml-2 mr-4 inline-block w-4 text-right text-gray-400;
  content: attr(line);
}